@model eYummy.Models.ViewModels.RecipesListViewModel



<div class="wrapper">

    <div class="page-header clear-filter page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url('../assets/img/bg5.jpg');">
        </div>
        <div class="container">
            <div class="photo-container">
                <img src="../../assets/img/now-logo.png" alt="">
            </div>
            <h3 class="title">NEUAVENUE BEAUTIFUL RECIPE</h3>
            <p class="category">Recipe List</p>
            <div class="content">

                <div class="social-description">
                    <h2>26</h2>
                    <p>Kid-Friendly Recipes</p>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <h3 class="title">Recipe List</h3>
            <h5 class="description">
                Kid-Friendly Recipes are inspiration and ideas for kids with Kids's Chicken,
                Pork, Pasta, Beef, Pizza, Vegetable and Fish. We have seasonal food recipes and various ingredient. Furthermore, there are lots of special collections : All recipe Magazine Recipes and Food Wishes with Chef John.
            </h5>

            <!-- Table -->

            <table class="table">
                <thead>
                    <tr>

                        <th class="text-center">Recipe ID </th>
                        <th>RecipeName</th>
                        <th>Category</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Recipe reci in Model.Recipes)
                    {
                        <tr>

                            <td class="text-center">@reci.RecipeId</td>
                            <td>@reci.RecipeTitle </td>
                            <td>


                                @foreach (Category category in Model.Categories)
                                {
                                    @if (reci.CategoryId == category.CategoryId)
                                    {
                                        @category.CategoryName

                                    }

                                }

                            </td>




                            <td class="td-actions text-right">


                                @foreach (RecipeModal recipeModal in Model.RecipeModals)
                                {
                                    @if (reci.RecipeId == recipeModal.RecipeId)
                                    {

                                        @if (recipeModal.ModalId == 1)
                                        {

                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="@recipeModal.ModalDetail.DataTarget">
                                                Edit
                                            </button>
                                        }
                                        else if (recipeModal.ModalId == 3)
                                        {

                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="@recipeModal.ModalDetail.DataTarget">
                                                View
                                            </button>

                                            <!-- Modal of User page (Ratings/Comments/Editing/Reviews) -->


                                            <div class="modal fade" id="@recipeModal.ModalDetail.ModalName" tabindex="-1"
                                                 role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">


                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="viewModalLabel">RECIPE USER</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>

                                                        </div>


                                                        <!--Modal Body-->

                                                        <div class="modal-body">

                                                            <hr>



                                                            <div class="form-group row text-left">
                                                                <label for="rating" class="col-sm-2 col-form-label">ID</label>
                                                                <div class="col-sm-10">

                                                                    @reci.RecipeId
                                                                </div>
                                                            </div>
                                                            <div class="form-group row text-left">
                                                                <label for="rating" class="col-sm-2 col-form-label">Name</label>
                                                                <div class="col-sm-10">
                                                                    @reci.RecipeTitle
                                                                </div>
                                                            </div>

                                                            <!-- Recipe Image -->

                                                            <div class="form-group row text-left">
                                                                <label for="rating" class="col-sm-2 col-form-label">Images</label>
                                                                <div class="col-sm-10">


                                                                </div>
                                                            </div>

                                                            <div class="form-group row text-left">
                                                                <label for="rating" class="col-sm-2 col-form-label">Descri-ption</label>
                                                                <div class="col-sm-10">
                                                                    @reci.Description
                                                                </div>
                                                            </div>
                                                            <div class="form-group row text-left">
                                                                <label for="comment" class="col-sm-2 col-form-label">Ingre-dients</label>
                                                                <div class="col-sm-10">
                                                                    <!-- PUt in data-->

                                                                </div>
                                                            </div>
                                                            <div class="form-group row text-left">
                                                                <label for="access" class="col-sm-2 col-form-label">Directions</label>
                                                                <div class="col-sm-10">
                                                                    @reci.Description
                                                                </div>
                                                            </div>
                                                            <div class="form-group row text-left">
                                                                <label for="editing" class="col-sm-2 col-form-label"><h8>Nutrition Facts</h8></label>
                                                                <div class="col-sm-10">
                                                                    
                                                                </div>
                                                            </div>
                                                            <div id="inputs">
                                                                <h5 class="text-left">Recipe Times</h5>
                                                                <hr />
                                                                <div class="row">

                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Prep:
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.Prep mins
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Servings:
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.Servings mins
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Cook:
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.CookTime mins
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Servings(M):
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.ServingsMax mins
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Total :
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.Total mins
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">

                                                                            <div class="input-group-append">
                                                                                Yield :
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-3">
                                                                        <div class="input-group">
                                                                            @reci.Yield nuggets
                                                                        </div>
                                                                    </div>




                                                                </div>
                                                            </div>



                                                        </div>


                                                        <!-- End of Modal Body-->

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                        </div>


                                                    </div>
                                                </div>





                                            </div>

                                        }
                                        else if (recipeModal.ModalId == 2)
                                        {
                                            <!-- End of Modal -->
                                            <!-- Button Delete trigger modal -->
                                            <button type="button" class="btn btn-danger" data-toggle="modal" 
                                                    data-target="@recipeModal.ModalDetail.DataTarget">
                                                Delete
                                            </button>





                                            <!-- Modal of User page (Ratings/Comments/Editing/Reviews) -->
                                            <div class="modal fade" id="@recipeModal.ModalDetail.ModalName" tabindex="-1"
                                                 role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">RECIPE DELETE</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>

                                                        </div>


                                                        <!--Modal Body-->

                                                        <div class="modal-body">

                                                            <hr>
                                                            <p class="text-left">Recipe ID : @reci.RecipeId </p>

                                                            <div class="alert alert-danger text-left" role="alert">
                                                                This is a danger delete alert with
                                                                <a href="#" class="alert-link">Recipe ID : @reci.RecipeId / Recipe Name :  @reci.RecipeTitle Baked Chicken Nuggets </a>.
                                                                <br />
                                                                Click the delete button below if you would like to delete.
                                                            </div>

                                                        </div>


                                                        <!-- End of Modal Body-->

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-secondary">Delete</button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Modal -->

                                        }

                                    }


                                }



                            </td>
                        </tr>
                    }





                </tbody>
            </table>


            <!-- End table-->
            <!-- Pagination -->
            

            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <span class="page-link">
                            2
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

            <!-- End of Pagination -->

        </div>
    </div>
</div>
